.background {
    width: 100%;
    height: auto;
    background: url('background.jpg') no-repeat center;
    background-position: 50% 50%;
    background-size: 100% cover!important;
    overflow: hidden;
}